body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.mwlogo {
    position:relative;
    height:1.5em;
    width:1.5em;
    bottom:0.2em;
    background-image: url("../images/MW.png");
    background-repeat:no-repeat;
}

.mwlogo:hover {
    position:relative;
    height:1.5em;
    width:1.5em;
    bottom:0.2em;
    background-image: url("../images/MW-hover.png");
    background-repeat:no-repeat;
}

.footer-blurb h3 {
    color: midnightblue;
    }

.footer-blurb-item {
    padding: 30px 0;
    }

.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}
